body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.reg {
  margin: auto;
  width: 25%;
  min-width: 400px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 500;
}

.form-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-block input {
  width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bank-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}
.bank-block input {
  width: 95%;
}

.bank-block button {
  width: 12%;
  height: 35px;
  border: 1px solid green;
  border-radius: 6px;
  -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  display: block;
}

input {
  border: 1px solid green;
  height: 30px;
  /* padding-left: 1rem; */

  font-size: 1.2rem;
  padding-left: 5%;
}

select {
  height: 34px;
  border: 1px solid green;
  font-size: 1.2rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../img/arrow-down.svg") no-repeat;
  background-position: 95%;
  background-size: contain;

  outline: 0;
}

.bank-block__left,
.bank-block__right {
  width: 40%;
}

.add-bank,
.send-button {
  height: 35px;
  border: 1px solid green;
  border-radius: 6px;
  -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  display: block;
  width: 40%;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.small-text {
  font-size: small;
  color: gray;
}
