body {
  margin: 0;
}

.container {
  margin: auto;
  width: 25%;
  min-width: 400px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.heading {
  font-weight: 500;
}
.heading--large {
  font-size: 24px;
}
.heading--small {
  font-size: 20px;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bank-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}

.bank-block__column {
  width: 40%;
}

.bank-block input {
  width: 95%;
}

.input {
  border: 1px solid green;
  height: 30px;

  font-size: 1.2rem;
  padding-left: 5%;
}

.input--half {
  width: 50%;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}

.select {
  height: 34px;
  border: 1px solid green;
  font-size: 1.2rem;
  width: 100%;

  padding-left: 10px;
  outline: 0;
}

.select--strange-arrow--down {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../img/arrow-down.svg") no-repeat;
  background-position: 95%;
  background-size: contain;
}

.small-text {
  font-size: small;
  color: gray;
}

.button {
  height: 35px;
  border: 1px solid green;
  border-radius: 6px;
  -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 1.2rem;
  padding: 0;
}

.button--big {
  width: 40%;
}
.button--little {
  width: 12%;
}
